body {
  background-color: #f4f5f6;
  font-family: 'Roboto Condensed', sans-serif;
}

/*
.container {
  min-width: 1350px;
  max-height: 200px;
  margin: 0 auto;
  padding: 20px;
} */
*{
  box-sizing: border-box;
}

.red-bar{
  background-color: #f72210;
  width: 97%;
  margin: 0 auto;
  padding: 20px;
}

.small-red-bar{
  display: none;
  background-color: #f72210;
  width: 97%;
  padding-top: 0;
  margin: 0 auto;
  z-index: 50;
}

.sticky-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.climate{
  margin-left: 10px;
}

.weather-icon{
  width:24px;
  height:24px;
}

.main-logo{
  width:396px;
  height:60px;
}

.small-logo{
  width: 131px;
  height: 20px;
}

.white-nav{
  height: 3em;
  width: 97%;
  margin: 0 auto;
  
}

.white-nav li{
  text-align: center; 
  list-style: none;
  
}

.white-nav li a{
  padding-right: 1.5em;
  border-right: 1px solid gray; 
  line-height: 3em;
}

main{
  width: 97%;
  margin: 0 auto;
  padding-top: 15px;

}

.stories-section{
  width: 97%;
  margin: 0 auto;
}

.title{
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color:rgba(3,3,3,.4);
  padding-bottom: 11px;

}

.featured-img{
  width: 100%;
  height: 265px;
}

.top-img{
  height:364px;
  width: 100%;
}

.opinion-text:after{
  content: "";
  display: block;
  border-bottom: 1px solid #666;
  margin: 0 auto;
  width: 93%;
}

.opinion-head{
  color: #000;
  margin-bottom: 1px;
}

.opinion-body{
  color: #666;
}

